__pycache__/
*.py[cod]

# test artefacts
.coverage
.coverage.*
coverage.xml
.mypy_cache
.cache
test-results/
.pytest_cache
.home

# editors
*.sw*
.idea

# osx
.DS_Store

# local docker-compose settings
.env

# logs
*.log

